[submodule "C-Pisicine"]
	path = C-Pisicine
	url = git@github.com:sdevsantiago/C-Pisicine.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:sdevsantiago/get_next_line.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:sdevsantiago/ft_printf.git
[submodule "Born2beroot"]
	path = Born2beroot
	url = git@github.com:sdevsantiago/Born2beroot.git
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:sdevsantiago/push_swap.git
[submodule "minitalk"]
	path = minitalk
	url = git@github.com:sdevsantiago/minitalk.git
[submodule "avalanche-42"]
	path = avalanche-42
	url = git@github.com:sdevsantiago/avalanche-42
[submodule "Libft"]
	path = Libft
	url = git@github.com:sdevsantiago/Libft.git
[submodule "FdF"]
	path = FdF
	url = git@github.com:sdevsantiago/FdF.git
[submodule "minishell"]
	path = minishell
	url = git@github.com:sdevsantiago/minishell.git
[submodule "Philosophers"]
	path = Philosophers
	url = git@github.com:sdevsantiago/Philosophers.git
