[submodule "Libft"]
	path = Libft
	url = git@github.com:sdevsantiago/Libft.git
[submodule "C-Pisicine"]
	path = C-Pisicine
	url = git@github.com:sdevsantiago/C-Pisicine.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:sdevsantiago/get_next_line.git
[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:sdevsantiago/ft_printf.git
[submodule "Fdf"]
	path = Fdf
	url = git@github.com:sdevsantiago/Fdf.git
[submodule "Born2beroot"]
	path = Born2beroot
	url = https://github.com/sdevsantiago/Born2beroot
[submodule "push_swap"]
	path = push_swap
	url = git@github.com:sdevsantiago/push_swap.git
[submodule "minitalk"]
	path = minitalk
	url = git@github.com:sdevsantiago/minitalk.git
[submodule "avalanche-42"]
	path = avalanche-42
	url = git@github.com:sdevsantiago/avalanche-42
